* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

a.link {
  text-decoration: none;
  color: #000;
}

a.link:hover {
  color: #0065fc;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 35px 0 15px 0;
}

h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 20px 10px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 12px 0;
  padding: 0 12px;
}

.star_rating {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0 12px;
  margin: 10px 0;
  color: #0065fc;
  display: block;
  background: none;
}

.fa-money-bill-wave,
.fa-person,
.fa-heart,
.fa-dog {
  color: #0065fc;
  margin-right: 10px;
}

.fa-grey {
  color: #f2f2f2;
}

.fa-chart-line {
  color: #0065fc;
  float: right;
}

.container {
  margin: 0 auto;
  padding: 0 35px;
  max-width: 1400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.logo_img {
  width: 61px;
  height: 19px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  width: 160px;
  border-top: 3px solid #fff;
  padding: 33px 0;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.nav_link:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}

.header_inner_slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.info {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  text-align: center;
  font-size: 16px;
  color: #0065fc;
  margin: 0 10px 0 0;
}

.search {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.search_filter_title {
  font-weight: 700;
}

.search_loc_dot {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 15px 16px;
  font-size: 18px;
}

.search_input {
  font-weight: 700;
  font-size: 18px;
  color: #000;
  border: 1px solid #f2f2f2;
  padding: 15px 16px;
  text-align: left;
}

.search_input:focus {
  outline: none;
}

.search_btn {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 16px;
  text-align: center;
  cursor: pointer;
}

.search_filter_btn {
  font-weight: 700;
  font-size: 17px;
  display: inline-block;
  background: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 15px 20px;
  margin: 10px 10px 30px 10px;
}

.search_filter_btn:hover {
  background: #deebff;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hosting,
.popular {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

.hosting {
  width: 66%;
  height: 635px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hosting_title,
.activity_title {
  flex-basis: 100%;
}

.hosting_items {
  width: 31%;
  display: inline-block;
  background: #fff;
  border: 5px solid #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.hosting_card_img {
  display: block;
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.hosting_items p,
.popular_items p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0 12px;
  color: #000;
}

.hosting_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin: 0 0 10px 10px;
}

.popular {
  width: 31%;
  height: 635px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular_items {
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.popular_content {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 141px;
}

.popular_content_img {
  width: 40%;
  display: inline-block;
}

.popular_card_img {
  display: inline-block;
  width: 100%;
  height: 141px;
  object-fit: cover;
  border-radius: 16px 0 0 16px;
}

.popular_content_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.activity_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activity_items {
  width: 23%;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.activity_card_img {
  display: block;
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #f2f2f2;
  margin: 50px 0 0 0;
  padding: 0 30px;
}

.footer_items {
  width: 30%;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: none;
  margin: 0 30px;
  padding: 45px 0;
}

.footer h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 15px 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin: 8px 0;
}

.footer a {
  text-decoration: none;
  color: #000;
}

.footer a:hover {
  color: #0065fc;
}

@media screen and (min-width: 992px) {
  /* css code for desktop */
  .search_btn_phone {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* css code for tablet */
  .container {
    padding: 20px;
    margin: 0;
  }

  .search_btn_phone {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .hosting {
    width: 100%;
  }

  .popular {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .popular_title {
    flex-basis: 100%;
  }

  .popular_items {
    width: 32%;
  }

  .activity_card_img {
    width: 100%;
    height: 210px;
  }
}

@media screen and (max-width: 767px) {
  .logo_img {
    margin: 0 0 40px 0;
  }
  /* css code for smartphone */
  .container {
    padding: 20px;
    margin: 0;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 110px;
  }

  .nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav_link {
    width: 50%;
    padding: 20px 0;
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
  }

  .nav_link:hover {
    color: #0065fc;
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  .search {
    max-width: 500px;
  }

  .search_input {
    width: 100%;
  }

  .search_input::placeholder {
    color: #000;
  }

  .search_filter_title {
    flex-basis: 100%;
  }

  .search_filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .search_filter_btn {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: left;
    display: inline-block;
    width: 48%;
    padding: 15px 20px;
    margin: 10px 0px;
  }

  .search_btn_phone {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    background: #0065fc;
    color: #fff;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
  }

  .search_btn {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 -20px;
  }

  .hosting {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-radius: 0px;
  }

  .hosting_title {
    flex-basis: auto;
  }

  .hosting_items {
    width: 100%;
  }

  .popular {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    border-radius: 0px;
  }

  .activity_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .activity_items {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px 0;
  }

  .activity_items img {
    height: 150px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin: 20px -20px 0 -20px;
  }

  .footer_items {
    width: 100%;
    padding: 25px 0;
    margin: 0;
    float: left;
  }
}
